html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

form .form-group {
    margin-bottom: 1em;
}


paragraph{
    padding-top:15px
}

paragraph-2 {
    padding-top: 20px
}